@import "tailwindcss";

@source "../app/**/*.{ts,tsx}";
@source "../src/**/*.{ts,tsx}";

@theme base {
  --color-light-green: #F0FBF4;
  --color-green: #008542;
  --color-dark-green: #00552A;
  --color-yellow: #FDC82F;
  --color-light-yellow: #FEF1C7;
  --color-red: #DC2626;
  --color-light-red: #FEE2E2;
  --color-white: #FFFFFF;
  --color-faded-white: #FFFFFF1F;
  --color-white-shell: #F9FAFB;
  --color-white-dust: #F3F4F6;
  --color-black: #000000;
  --color-gray: #A7A9BC;
  --color-light-gray: #E5E7EB;
  --color-dark-gray: #374151;
  --color-urain-blue: #1F2937;
  --color-dark-blue: #13131F;
  --color-bg-blue: #1A1A2E;
  --color-midnight: #2D2D4E;
  --color-vibrant-blue: #1D4ED8;
  --color-baby-blue: #DBEAFE;
  --font-inter: var(--font-inter);

 --animate-highlight: highlight 2000ms ease-out;

  @keyframes highlight {
    0% {
      box-shadow:
        0 0 0 0 rgb(250 204 21 / 0),
        0 0 0 rgb(250 204 21 / 0);
    }

    20% {
      box-shadow:
        0 0 0 3px rgb(250 204 21 / 1),
        0 0 24px rgb(250 204 21 / .45);
    }

    100% {
      box-shadow:
        0 0 0 0 rgb(250 204 21 / 0),
        0 0 0 rgb(250 204 21 / 0);
    }
  }
}

* {
  box-sizing: border-box;
  font-family: var(--font-inter);
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  scrollbar-width: 0;
  scrollbar-color: transparent;
  -ms-overflow-style: none;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}